h3, h4 {
  color: white;
  text-align: center;
  padding: 12px 20px;
  border-radius: 4px;
}

.header {
  background-color: darkslateblue;
}

.region{
  background-color: crimson;
}

details {
  border: 1px solid grey;
  border-radius: 5px;
}
 
summary {
  border: 1px solid grey;
  border-radius: 3px;
  margin: 1px;
  cursor: pointer;
  padding: 10px;
  background-image: linear-gradient(#f3f3f3 50%, #e6e6e6 50%);
}

h5 {
  padding-top: 6px;
  padding-left: 8px;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
  margin: 3px;
}

a {
  color: black !important;
  background-color: ghostwhite;
  padding: 9px 28px;
  text-decoration: none !important;
  display: block;
}

a:hover {
  background-color: Lavender;
}